# Requirements for the project
# This file is used to install the necessary packages for the project
openai
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
SpeechRecognition
pyttsx3
gunicorn
python-dotenv
Flask

